# Documentation static site generator & deployment tool
mkdocs>=1.5.2
# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
mkdocs-material>=5.4.0
mkdocs-material-extensions
neoteroi-mkdocs>1.0.3
pymdown-extensions
mkdocs-include-markdown-plugin
mkdocs-static-i18n==v1.3.0
